.table__paragraph_type_second {
  grid-area: secondParagraph;
  margin: 0 0 29px;
}

@media (max-width: 1024px) {
  .table__paragraph_type_second {
    margin: 0 0 10px;
  }
}

@media (max-width: 768px) {
  .table__paragraph_type_second {
    margin: 0;
  }
}